Package: com.okkidididjdj.ios6chat
Name: iMessage iOS 6
Version: 1.0.0
Architecture: iphoneos-arm
Description: Клевый мессенджер с базой Firebase
Maintainer: okkidididjdj
Author: okkidididjdj
Section: Applications
