Package: com.okkidididjdj.ios6chat
Name: iMessage iOS 6
Version: 1.1.0
Architecture: iphoneos-arm
Description: Скевоморфный мессенджер. Адаптировано под iOS 8!
Maintainer: okkidididjdj
Author: okkidididjdj
Section: Applications
